/* Google Fonts Import Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
li {
  list-style: none;
  /* height: 2.5rem; */
}
a {
  text-decoration: none;
  color: #11101d;
  font-weight: 550;
  text-transform: capitalize;
}
i {
  font-size: 1.3rem;
}

.home-section {
  position: relative;
  background: url("./bottom-right.png") no-repeat right bottom;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}

.home-section .home-content {
  height: 90px;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #eff2f6;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text {
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu {
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text {
  font-size: 20px;
  font-weight: 400;
  padding-left: 5px;
}
@media (max-width: 400px) {
  .home-section {
    left: 78px;
    width: calc(100% - 78px);
    z-index: 100;
  }
}

.home-section .home-img {
  padding-left: 33%;
  padding-top: 55px;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 240px;
  border-right: solid 3px #eff2f6;
  transition: all 0.5s ease;
  background: url("./top-left.png") no-repeat;
}
.links {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0 0 2rem;
}
.list-item {
  transition: all linear 0.3s;
  padding: 0.5rem 0;
}

.icon-link {
  display: flex;
  align-items: center;
}
.link_name {
  padding: 0 1rem;
}
.submenu {
  display: none;
  height: 5rem;
}
.sidebar-arrow {
  transition: all linear 0.1s;
  transform-origin: center;
  height: 0.6rem;
  display: grid;
  place-content: center;
}

.list-item.show {
  > .submenu {
    display: block;
  }
  .sidebar-arrow {
    transform: rotate(180deg);
  }
}
.submenu-item {
  cursor: pointer;
  background-color: hsla(262, 82%, 43%, 0.089);
  border-radius: 0.4rem;
  /* height: 2rem; */
  font-size: 0.8rem;
  font-weight: 500;
  width: 10rem;
  margin: 0.8rem 0;
  padding: 0.5rem 0 0.5rem 2rem;
  > a {
    color: hsla(262, 82%, 43%, 0.597);
  }
}

.home-section .header-icon {
  padding-left: 65%;
  font-size: x-large;
}
.header-icon .bx-search-alt-2 {
  padding-right: 10px;
}
.header-icon .bx-bell {
  padding-right: 10px;
}

.home-section .lable-txt {
  padding-top: 2.5%;
  padding-left: 4%;
  font-weight: 500;
  font-size: x-large;
}

.icons {
  width: 1.2rem;
}
.indicator {
  background-color: #7588ec;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  color: white;
  display: grid;
  place-content: center;
  font-weight: 100;
  font-size: 0.75rem;
  margin-left: 1.4rem;
}
.dashboard {
  height: 85.5%;
  background-color: white;
  padding: 0 2rem;
}
.upcomming-events {
  border: solid 1px;
  height: 11rem;
}
.client-progress {
  border: solid 1px;
  height: 9rem;
}
.tasks-list {
  /* border: solid 1px; */
  height: 16rem;
  display: flex;
  justify-content: space-between;
  /* gap: 5rem; */
}
.tasks {
  width: 36rem;
  height: 100%;
}
.messages {
  width: 36rem;
}
.task-header {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  padding: 1rem 0;
}
.tasks-body {
  border: solid 2px hsla(230, 37%, 60%, 0.062);
  height: 100%;
  border-radius: 0.5rem;
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.btn-container {
  width: 25rem;
  display: flex;
  justify-content: space-between;
}
.btn {
  width: 12rem;
  height: 2.2rem;
  border-radius: 0.5rem;
  border: transparent;
  background-color: #7183fa;
  color: white;
  font-weight: 500;
  transition: all linear 0.3s;
  cursor: pointer;
}
.btn:hover {
  background-color: #637bf2;
}
.btn-ghost {
  background-color: white;
  color: black;
  font-weight: 600;
}
.btn-ghost:hover {
  background-color: azure;
}
.task-main {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  > h1 {
    color: #1a1919;
    font-weight: 600;
    font-size: 1.2rem;
  }
  > button {
    margin-top: 2rem;
  }
}
.messages-body {
  border: solid 2px hsla(230, 37%, 60%, 0.062);
  height: 100%;
  display: grid;
  place-content: center;
  gap: 2rem;
  > h1 {
    color: #1a1919;
    font-weight: 600;
    font-size: 1.3rem;
  }
}
.tasks-title {
  font-size: 1.2rem;
}

.tasks-btn {
  font-size: 0.9rem;
  color: hsla(0, 1%, 36%, 0.824);
  font-weight: 500;
  cursor: pointer;
}
